span.invalid-message {
    color: red;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-buttons .btn {
    margin: 0;
}

.action-buttons .form {
    margin: 0;
}

input[switch=danger]:label {
    background-color: red;
}

.d-color-code {
    border: 1px solid;
    border-radius: 4px;
    height: 1.0rem;
    width: 1.0rem;
    cursor: pointer;
}

.color-swatch-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.color-swatch-container .avatar-sm{
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.is-invalid .select2-selection--single, .is-invalid .select2-selection--multiple{
    border-color: var(--bs-form-invalid-border-color)!important;
}

.cursor-pointer{
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s;
}

#googleImagesModal .selected-image{
    border: 1px solid #556ee6;
    box-shadow: 1px 1px 5px 0;
}

.btn-google {
    background-color: #4285F4; /* Google Blue */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}

.btn-google:hover {
    background-color: #357ABD;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.avatar-sm:hover .overlay {
    opacity: 1;
    /* Show the overlay on hover */
}

.overlay i {
    color: white;
    font-size: 24px;
    /* Adjust the icon size as needed */
}

.d-size-box {
    border: 1px solid;
    color: #000;
    padding: 2px 12px;
    display: flex;
    align-items: center;
    background-color: #f9f9f6;
    cursor: pointer;
}

.d-color-code.selected,
.d-size-box.selected {
    border: 2px solid #000;
    background-color: #c3cbe4;
}

.d-color-code.selected {
    border: 3px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-preview-image {
    max-height: 150px;
    max-width: fit-content;
}

div.dataTables_wrapper {
    position: relative;
}

@media (max-width: 1050px) {
    div.dataTables_wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.color-selector.selected {
    border: 2px solid #000;
    box-shadow: 2px 2px 2px;
}


/* Removed input type number arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

table tbody tr.odd {
    background-color: #f2f2f2;
    /* Light gray */
}

/* For even rows */
table tbody tr.even {
    background-color: #ffffff;
    /* White */
}

.page-title-right .btn {
    white-space: nowrap;
}

.table {
    vertical-align: middle !important;
}

#custom-search-input {
    width: 200px;
}

.include-container {
    width: 100%;
    background: #80808045;
    padding: 10px;
    border-radius: 5px;
}

.image-preview .preview-image-container {
    background: #e7e1e1;
    padding: 8px;
    position: relative;
    text-align: center;
}

.image-preview .alt-container {
    position: absolute;
    bottom: 0;
    margin-left: -8px;
}

.image-preview img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
}

.image-preview .remove-image-btn,
.image-preview .btn {
    position: absolute;
    right: 0;
    top: 0;
}

.img-preview {
    max-height: 160px;
}

.small-toggle-button input[switch]+label {
    width: 54px;
}

.small-toggle-button input[switch]:checked+label:before {
    left: 2px;
}

.small-toggle-button input[switch]:checked+label:after {
    left: 33px;
}

.form-footer{
    position: fixed;
    bottom: 0;
    width: 50%;
    z-index: 999;
    margin-bottom: 0;
}

/* Zoom Image */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.fullscreen-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: white;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    z-index: 10000;
}
div#product-table_length {
    margin-top: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: unset !important;
}
.filter-section {
    display: none; /* Initially hidden */
    margin-top: 10px;
}
.filter-checkbox {
    margin-top: 5px;
}
span.select2.select2-container.select2-container--default {
    width: 100%!important;
}
li.collaps-list {
    display: flex;
    justify-content: space-between;
    border: 1px solid #00000030;
    border-radius: 4px;
    align-items: center;
    padding: 10px 10px;
}

 .sticky-submit {
    position: fixed;
   bottom: 0;
   left: 19% ;      
   right: 30px;      
   padding: 12px 10px;
   background: #fff;
   box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    text-align: right;
   z-index: 1000;
}

@media (max-width: 992px) {
  .sticky-submit { left: 60px; }  
}

@media (max-width: 768px) {
  .sticky-submit {
    left: 0;
    right: 0;
    padding: 10px 15px;
  }
}
